* {
   font-family: Arial, Helvetica, sans-serif;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

body{

}

#contentBox {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  width: 70%;
  height: 50%;

  z-index: -1;

  background-color: lightgray;
}

.contentBoxes {
	position: inherit;
	left: 100%;
	transform: translate(-100%);
	width: 90%;
	height: 100%;
}

.personMenu {
  position: absolute;
  left: 15%;
  top: 50%;

  transform: translate(-50%, -50%);

  width: 20%;
  height: 70%;
}

img {
	width: 100%;
}

#personMenu {
	z-index: 0;
}

.userButtons {
	text-align: center;
	z-index: 1;
	display: block;
	height: 33%;
	width: 80%;
}

#brain, #heart, #shadow {
	visibility: hidden;
}
